

.cardstyle {
  width: 200px;
  display: inline-block;
  margin: 10px
}
.citystyle{
  /* display: inline-block; */
  margin: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.city-css{
  display: flex;
  justify-content: center;
  background-color: aqua;
}
